.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileItem{
    /* height: 100%; */
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.profileTitle{
    display: flex;
    justify-content: flex-start;
    font-size: 19px;
    color: gray;
    margin-bottom: 5px;
}

.profileContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.icon{
    font-size: 20px;
    /* margin-left: 5px; */
    color: #104271;
}

.info{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.addBtn{
    display: flex;
}