.divider{
    background: no-repeat center 0;
    height:30px;
    padding-bottom: 10px;
    width: 100%;
    margin: 20px auto;
    float: left;
}

.inner{
    margin-top:19px;
    border: 1px solid;
}