/* .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  } */
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #1f7ed8;
    color: #1f7ed8;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #1f7ed8;
  }
  
  .paginationActive a {
    color: white;
    background-color: #1f7ed8;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }