.profileCard{
    /* background: #104271; */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 900px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
}

.user-img{
    display: flex;
    width: 10%;
    float:left;
    margin-bottom: 10px;
}

.card1{
    height: 270px;
    width:auto;
}

.card2{
    height: 500px;
    width:auto;
}